<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>pingServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.PingServiceImpl</servlet-class>
  </servlet>
  
  <!-- End-to-End -->  
  <!--   
  <servlet>
    <servlet-name>AdminAccountServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.AccountServiceImpl</servlet-class>
  </servlet>
  -->  
  <servlet>
    <servlet-name>AdminAccountServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.AccountServiceStubImpl</servlet-class>
  </servlet>
   
  <servlet>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.DeviceServiceImpl</servlet-class>
  </servlet>
  <!--          
  <servlet>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.DeviceServiceStubImpl</servlet-class>
  </servlet>
  -->
    
  <servlet>
    <servlet-name>PushAppServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.PushAppServiceImpl</servlet-class>
  </servlet>
  <!--         
  <servlet>
    <servlet-name>PushAppServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.PushAppServiceStubImpl</servlet-class>
  </servlet>
  -->
  
  <servlet>
    <servlet-name>APNServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.APNServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DownloadAPNCertificateServlet</servlet-name>
    <servlet-class>org.openmobster.core.cloud.console.server.DownloadAPNCertificateServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>pingServlet</servlet-name>
    <url-pattern>/app/ping</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AdminAccountServlet</servlet-name>
    <url-pattern>/app/account</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/app/device</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PushAppServlet</servlet-name>
    <url-pattern>/app/pushapp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>APNServlet</servlet-name>
    <url-pattern>/app/apn</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DownloadAPNCertificateServlet</servlet-name>
    <url-pattern>/app/apn/certificate/download</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>